//
#title {
    color: red;
}

.anchor {
    text-align: center;
    display: block;
}

h1 {
    text-align: center;
}

section {
    width: 80%;
    margin: 0 auto;
}

#header {
    background-color: peru;
    padding: 30px;
}

#footer {
    background-color: purple;
    padding: 30px;
}

#home{
    #img{
        height: 300px;
        width: 300px;
        margin: 0 auto;
        img {
            height: 100%;
            width: 100%;
            margin: 0 auto ;
        }
    }
}

#comic {
    #container-info {
        display: flex;
        justify-content: center;
        margin: 40px 0;
        
        #col-sx {
            width: 40%;
        }

        #col-dx{
            width: 20%;

            img {
                width: 100%;
            }
        }
    }
}
