//
//header
@import 'partials/header';

//section
@import 'partials/section';

// comicSection
@import 'partials/comicSection';


@import 'partials/comicPage';


body {
    font-family: Helvetica, Arial, sans-serif;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.centratura {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

#plate {
    background-color: #0282f9;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: white;
    height: 40px;
    width: 200px;
    position: absolute;
    left: 270px;
    top:380px
  }
