#title {
  color: red;
}

.anchor {
  text-align: center;
  display: block;
}

h1 {
  text-align: center;
}

section {
  width: 80%;
  margin: 0 auto;
}

#header {
  background-color: peru;
  padding: 30px;
}

#footer {
  background-color: purple;
  padding: 30px;
}

#home .container-img {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#home .container-img .card {
  width: 16.6666666667%;
}

#home .container-img .card .img {
  padding: 20px;
}

#home .container-img .card .img img {
  width: 100%;
  margin: 0 auto;
}

#comic #container-info {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

#comic #container-info #col-sx {
  width: 40%;
}

#comic #container-info #col-dx {
  width: 20%;
}

#comic #container-info #col-dx img {
  width: 100%;
}

