.anchor {
    text-align: center;
    display: block;
}

h1 {
    text-align: center;
}

section {
    width: 80%;
    margin: 0 auto;
}
#comic-page {

    #container-info {
        display: flex;
        justify-content: center;
        margin: 40px 0;
        
        #col-sx {
            width: 40%;
        }

        #col-dx{
            width: 20%;

            img {
                width: 100%;
            }
        }
    }
}

#banner {
    height: 50px;
    background-color: #0282f9;
    position: relative;

    img {
        height: 250px;
        width: 193px;
        position: absolute;
        bottom: 25px;
        left: 270px;
    }
}