.anchor {
    text-align: center;
    display: block;
}

h1 {
    text-align: center;
}

section {
    width: 80%;
    margin: 0 auto;
}
#comic-page {

    #container-info {
        display: flex;
        justify-content: center;
        margin: 40px 0;
        
        #col-sx {
            width: 40%;
        }

        #col-dx{
            width: 20%;

            img {
                width: 250px;
                height: 250px;
            }
        }
    }
}

#banner {
    height: 50px;
    background-color: #0282f9;
    position: relative;

    #cont-img-banner {
        height: 250px;
        width: 193px;
        border: solid white 1px;
        position: absolute;
        bottom: 25px;
        left: 270px;
    }

    img {
        height: 100%;
        width: 100%;
    }

    #comic-book {
        position: absolute;
        bottom: 226px;
        background-color: #0282f9;
        color: white;
        padding: 2px;
    }

    #view-gallery {
        position: absolute;
        width: 100%;
        bottom: 0px;
        background-color: #0282f9;
        color: white;
        padding: 2px;
        text-align: center;
    }
}